  table {
    margin: auto;
    border: 1px solid black;
    box-shadow:
      0 0 0 1px #724a28,
      0 0 0 1.5px #ffffff,
      0 0 0 2px #dfdb14,
      0 0 0 2.5px #000000;

    color: black;
    
  }

  th {
    background-color: chocolate;
    border: 1px solid black;
    text-align: center;
  }

  td {
    border: 1px solid black;
    text-align: left;
    font-size: 20%;
  }
  h2{
    text-align: center;
  }
  .titulo{
    color: blue;
    text-align: left;
  }
  .paginas{
    text-align: right;
  }